<div data-controller="modal">
  <div id="button" class="column is-flex is-justify-content-center">
    <button class="button is-primary" data-action="click->modal#open">爬虫類</button>
  </div>

  <div class="modal" data-modal-target="container">
    <div class="modal-background" data-action="click->modal#close"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">モーダルタイトル</p>
        <button class="delete" aria-label="close" data-action="click->modal#close"></button>
      </header>
      <section class="modal-card-body">
        モーダルの内容
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" data-action="click->modal#close">閉じる</button>
      </footer>
    </div>
  </div>
</div>